.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.cloudera-name {
  font-size: 32px;
  color: red;
}
========================================== */

.cloudera-maintenable-evolutif-site {
  width: 1.1357421875em;
}

.cloudera-mentions-legales {
  width: 1.1328125em;
}

.cloudera-maintenance {
  width: 0.8701171875em;
}

.cloudera-site-securise {
  width: 1.3974609375em;
}

.cloudera-tailored_functionalities {
  width: 1.193359375em;
}

.cloudera-responsive {
  width: 1.6923828125em;
}

.cloudera-team-spirit {
  width: 1.3232421875em;
}

.cloudera-pair_programming {
  width: 1.53125em;
}

.cloudera-tabs {
  width: 1.28515625em;
}

.cloudera-wall_post {
  width: 1.37109375em;
}

.cloudera-to_the_moon {
  width: 1.236328125em;
}
