// background-image: linear-gradient(to left bottom, #daca58, #ffb765, #ffa684, #ff9daa, #ff9fcd, #eaade8, #d0bbf9, #b8c8ff, #96d7ff, #6fe5ff, #58f2ff, #68fbe7);

// background-image: linear-gradient(to left bottom, #c49787, #d49d83, #e2a47d, #eeac77, #f7b56f, #fcb780, #ffba91, #ffbea1, #ffc6c5, #f9d3e0, #eee1ed, #ededed);
// @include media-breakpoint-up(sm) { }
// @include media-breakpoint-up(md) { }
// @include media-breakpoint-up(lg) { }
// @include media-breakpoint-up(xl) { }


body {
    .container-fluid.first-section {
        height: 100vh;
        background-image: linear-gradient(to left bottom, #daca58, #ffb765, #ffa684, #ff9daa, #ff9fcd, #eaade8, #d0bbf9, #b8c8ff, #96d7ff, #6fe5ff, #58f2ff, #68fbe7);

        .cloudera-to_the_moon {
            z-index: -1;
            @include media-breakpoint-up(md) {
                font-size: 65vh;
            }
        }
    }
}